@font-face {
    font-family: "Silent Reaction";
    src: url("../fonts/Silent_Reaction.ttf");
}
@font-face {
    font-family: "Mutter Krause";
    src: url("../fonts/MutterKrauseBuch.ttf");
}

@font-face {
    font-family: "Caviar Dreams";
    src: url("../fonts/CaviarDreams.ttf");
}
