@charset "UTF-8";
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Silent Reaction";
  src: url("../fonts/Silent_Reaction.ttf");
}
@font-face {
  font-family: "Mutter Krause";
  src: url("../fonts/MutterKrauseBuch.ttf");
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams.ttf");
}
/* Palette generated by Material Palette - materialpalette.com/teal/red */
@font-face {
  font-family: "Silent Reaction";
  src: url("../fonts/Silent_Reaction.ttf");
}
@font-face {
  font-family: "Mutter Krause";
  src: url("../fonts/MutterKrauseBuch.ttf");
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams.ttf");
}
/* Palette generated by Material Palette - materialpalette.com/teal/red */
/* font awesome mixin */
/* line 10, ../sass/_styles.scss */
body {
  background-color: #009688;
  color: #FFFFFF;
  font-family: "Mutter Krause";
}

/* line 15, ../sass/_styles.scss */
.side-bar {
  width: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 250px;
  border: 0px;
}
/* line 22, ../sass/_styles.scss */
.side-bar .profile-pic {
  width: 200px;
  height: 200px;
  background-size: contain;
  border-radius: 500px;
  margin: 8vh auto 0px;
  border: 10px double #FFFFFF;
}
/* line 30, ../sass/_styles.scss */
.side-bar .side-bar-wrap {
  margin: 0;
}
/* line 33, ../sass/_styles.scss */
.side-bar .download-resume {
  margin-top: 2em;
  text-align: center;
}
/* line 36, ../sass/_styles.scss */
.side-bar .download-resume a {
  color: #FFFFFF;
}
/* line 40, ../sass/_styles.scss */
.side-bar .side-container {
  padding: 1em 0 0 2em;
}
/* line 42, ../sass/_styles.scss */
.side-bar .side-container::before {
  font-family: "Silent Reaction";
  font-size: 1.9em;
  display: block;
  line-height: 1.5em;
}
/* line 50, ../sass/_styles.scss */
.side-bar .side-container ul li::before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  margin-right: 0.4em;
}
/* line 60, ../sass/_styles.scss */
.side-bar .side-container.skills::before {
  content: 'Skills';
}
/* line 65, ../sass/_styles.scss */
.side-bar .side-container.skills ul li::before {
  content: "\f00c";
}
/* line 72, ../sass/_styles.scss */
.side-bar .side-container.contact::before {
  content: 'Contact';
}
/* line 77, ../sass/_styles.scss */
.side-bar .side-container.contact ul li.li-mail::before {
  content: "\f0e0 ";
}
/* line 80, ../sass/_styles.scss */
.side-bar .side-container.contact ul li.li-phone::before {
  content: "\f095 ";
}
/* line 83, ../sass/_styles.scss */
.side-bar .side-container.contact ul li.li-address::before {
  content: "\f041 ";
}
/* line 86, ../sass/_styles.scss */
.side-bar .side-container.contact ul li a {
  text-decoration: none;
  color: inherit;
}
/* line 94, ../sass/_styles.scss */
.side-bar .side-container.date::before {
  content: 'Date';
}
/* line 98, ../sass/_styles.scss */
.side-bar .side-container.social {
  padding: 1em;
  margin: 1em 0.4em 0;
  background-color: rgba(249, 249, 249, 0.69);
  border-radius: 15px;
}
/* line 104, ../sass/_styles.scss */
.side-bar .side-container.social ul li {
  display: inline-block;
}
/* line 106, ../sass/_styles.scss */
.side-bar .side-container.social ul li a {
  text-decoration: none;
  font-size: 1em;
  margin: 0px 0.1em;
  color: #FF5252;
  text-shadow: 0px 1px 1px #ffffff;
}
/* line 112, ../sass/_styles.scss */
.side-bar .side-container.social ul li a::before {
  font-size: inherit;
  padding: 5px;
}

/* line 128, ../sass/_styles.scss */
.content {
  background-color: #FFFFFF;
  color: #009688;
  margin-left: 250px;
  min-height: 29cm;
  padding: 1.5em 2.1cm 2em 0em;
  border-left: 3px dotted #009688;
}
/* line 138, ../sass/_styles.scss */
.content h1 {
  font-size: 4em;
  font-family: "Silent Reaction";
  padding-left: 20px;
}
/* line 145, ../sass/_styles.scss */
.content .details-container {
  margin-top: 0.8em;
}
/* line 147, ../sass/_styles.scss */
.content .details-container h2 {
  position: relative;
  display: inline-flex;
  font-family: "Silent Reaction";
  font-size: 1.6em;
  line-height: 1em;
}
/* line 155, ../sass/_styles.scss */
.content .details-container h2 span {
  color: #FFFFFF;
  background-color: #009688;
  display: inline-block;
  padding: 0.4em 10vw 0.4em 20px;
}
/* line 161, ../sass/_styles.scss */
.content .details-container h2::after {
  display: inline-block;
  content: ' ';
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 0.9em solid transparent;
  border-bottom: 0.9em solid transparent;
  border-left: 7.2em solid #009688;
}
/* line 176, ../sass/_styles.scss */
.content .details-container ul {
  padding-left: 20px;
}
/* line 178, ../sass/_styles.scss */
.content .details-container ul li {
  padding: 0.1em 0px;
}
/* line 180, ../sass/_styles.scss */
.content .details-container ul li::before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  margin-right: 0.4em;
}
/* line 187, ../sass/_styles.scss */
.content .details-container h3 {
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Mutter Krause";
}
/* line 191, ../sass/_styles.scss */
.content .details-container h3 .caption {
  font-size: 0.8em;
  padding-left: 1em;
}
/* line 196, ../sass/_styles.scss */
.content .details-container .description {
  font-family: "Caviar Dreams";
  font-size: 0.9em;
  display: table;
}
/* line 200, ../sass/_styles.scss */
.content .details-container .description .row {
  display: table-row;
}
/* line 202, ../sass/_styles.scss */
.content .details-container .description .row .title, .content .details-container .description .row .detail {
  display: table-cell;
}
/* line 212, ../sass/_styles.scss */
.content .details-container.profile ul li::before {
  content: '\f0da';
}
/* line 218, ../sass/_styles.scss */
.content .details-container.experience h7 {
  font-size: 0.8em;
}
/* line 223, ../sass/_styles.scss */
.content .details-container.experience .description .row .title {
  white-space: nowrap;
  width: 150px;
}
/* line 232, ../sass/_styles.scss */
.content .details-container.education .description {
  font-weight: bold;
  font-family: "Mutter Krause";
}
/* line 235, ../sass/_styles.scss */
.content .details-container.education .description .title {
  width: 120px;
}

/* line 16, ../sass/_functions.scss */
.social-facebook {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3b5998;
}
/* line 10, ../sass/_functions.scss */
.social-facebook::before {
  content: "";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

/* line 16, ../sass/_functions.scss */
.social-googleplus {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #dd4b39;
}
/* line 10, ../sass/_functions.scss */
.social-googleplus::before {
  content: "";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

/* line 16, ../sass/_functions.scss */
.social-twitter {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #55acee;
}
/* line 10, ../sass/_functions.scss */
.social-twitter::before {
  content: "";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

/* line 16, ../sass/_functions.scss */
.social-linkedin {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #007bb5;
}
/* line 10, ../sass/_functions.scss */
.social-linkedin::before {
  content: "";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

/* line 16, ../sass/_functions.scss */
.social-instagram {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e95950;
}
/* line 10, ../sass/_functions.scss */
.social-instagram::before {
  content: "";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

/* line 16, ../sass/_functions.scss */
.social-youtube {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #bb0000;
}
/* line 10, ../sass/_functions.scss */
.social-youtube::before {
  content: "";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

/* line 16, ../sass/_functions.scss */
.social-stackoverflow {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f48024;
}
/* line 10, ../sass/_functions.scss */
.social-stackoverflow::before {
  content: "";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

@page {
  size: 21.0cm x 29.7cm;
  /* auto is the initial value */
  /* this affects the margin in the printer settings */
  margin: 0mm;
  padding: 0px;
}
/* line 27, ../sass/print.scss */
* {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

/* line 31, ../sass/print.scss */
html, body {
  height: 100%;
}

/* line 35, ../sass/print.scss */
.side-bar-wrap {
  margin-top: 10vh !important;
}

/* line 38, ../sass/print.scss */
.no-print {
  display: none;
}

/* line 43, ../sass/print.scss */
.social li {
  display: block;
}

/* line 46, ../sass/print.scss */
.social li a:after {
  content: attr(print-url);
}

/* line 50, ../sass/print.scss */
.content .details-container {
  page-break-inside: avoid;
  padding-top: 1.2em;
}

/* line 55, ../sass/print.scss */
.printdiv {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
